@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<DiChoSaiGon.Models.Banner>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách banner";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    bool QuanLyBanner = User.Claims.Any(c => c.Type == "FunctionId3" && c.Value == "3");
    bool CanCreate = User.Claims.Any(c => c.Type == "CanCreate3" && c.Value == "True");
    bool CanEdit = User.Claims.Any(c => c.Type == "CanEdit3" && c.Value == "True");
    bool CanRead = User.Claims.Any(c => c.Type == "CanRead3" && c.Value == "True");
    bool CanDelete = User.Claims.Any(c => c.Type == "CanDelete3" && c.Value == "True");

    <div class="page-header">
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index">Danh sách banner</a>
                <span class="breadcrumb-item active">Danh sách banner : page @CurrentPage</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                @* <div class="col-lg-8">
                <div class="d-md-flex">
                    <div class="m-b-10 m-r-15">
                        <div class="input-affix m-v-4">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm">
                        </div>
                    </div>
                    <div class="m-b-10 m-r-15">
                        <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                            <option selected>Chọn danh mục</option>
                            <option value="0">Chọn tất cả</option>
                        </select>
                    </div>
                </div>
            </div> *@
            @if(QuanLyBanner && CanCreate){
                    <div class="col-lg-12 text-right">
                        <a class="btn btn-primary" asp-area="Admin" asp-controller="AdminBanners" asp-action="Create"><i class="anticon anticon-plus-circle m-r-5"></i> <span>Add Banner</span></a>
                    </div>
            }
                
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Tên Banner</th>
                            <th>Ảnh</th>
                            <th>Active</th>
                            <th>Ngày sửa</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody id="records_table">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.BannerId</td>
                                    <td>@item.BannerName</td>
                                    <td>@item.Thumb</td>
                                    <td>
                                        @if (item.Active == true)
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>Active</div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Not Active</div>
                                            </div>
                                        }
                                    </td>
                                    <td>@item.DateModified</td>
                                    <td>
                                        @if(QuanLyBanner && CanRead){
                                            <a class="btn btn-primary m-r-5" asp-area="Admin" asp-controller="AdminBanners" asp-action="Details" asp-route-id="@item.BannerId">View</a>
                                        }

                                        @if (QuanLyBanner && CanEdit) {
                                            <a class="btn btn-secondary m-r-5" asp-area="Admin" asp-controller="AdminBanners" asp-action="Edit" asp-route-id="@item.BannerId">Edit</a>
                                        }
                                        
                                        @if (QuanLyBanner && CanDelete) {
                                            <a class="btn btn-success m-r-5" asp-area="Admin" asp-controller="AdminBanners" asp-action="Delete" asp-route-id="@item.BannerId">Delete</a>
                                        }
                                        
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="AdminBanenrs" asp-action="Index" />
                    </ul>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            jQuery("#txtCatID").change(function () {
                var catID = jQuery(this).children(":selected").attr("value");
                catID = parseFloat(catID);
                $('#txtCatID option').removeAttr('selected');
                $("#txtCatID > [value=" + catID + "]").attr("selected", "true");

                $.ajax({
                    url: '/Admin/AdminProducts/Filter',
                    datatype: "json",
                    type: "GET",
                    data: {
                        CatID: catID
                    },
                    async: true,
                    success: function (results) {
                        if (results.status == "success") {
                            window.location.href = results.redirectUrl;
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });

            $("#keyword").keyup(function () {
                var strkeyword = $('#keyword').val();
                $.ajax({
                    url: '/Admin/Search/FindProduct/',
                    datatype: "json",
                    type: "POST",
                    data: { keyword: strkeyword },
                    async: true,
                    success: function (results) {
                        $("#records_table").html("");
                        $("#records_table").html(results);
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
            });
        });

    </script>
}
